.scrollabe_div {
    position: absolute;
    height: 200px;
    overflow: auto;
    width: 100%;
    margin-top: 1px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 99;
}

.scrollabe_div > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;   
}

.scrollabe_div li {
    text-align: left;
    color: #000;
    padding: 10px 5px;
    cursor: pointer;
    margin: 0px;
}

.scrollabe_div li:hover {
    color: #fff;
    background-color: rgb(170, 170, 170);
}

.scrollabe_div li.selected {
    color: #fff;
    background-color: rgb(99, 99, 99);
}

