.typeahead {
    display: block;
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    min-height: 23px;
    height: 100%;
    position: relative;
}

/* .typeahead  * {
    box-sizing: border-box;
} */

.notfound {
    position: absolute;
    width: 100%;
    margin-top: 1px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    padding: 10px;
}